@media only screen and (width <= 1024px)
{
    .allsong_header
    {
        //background:red;

        .allsong_header-search_container
        {
            //background: yellow;
            width: 90%;

            .allsong_header-search
            {
                //background: red;
                width: 55%;
            }
        }
    }




    .songs
    {
        //background: yellow;
        display: grid;
        place-items: center;
    }

    .all_selected
    {
        //background: red;
        .all_selected_containers
        {
            //background: green;
            width: 60%;
        }
    }
    // #btn-send-email-container_button{
    //     //width:15rem;
    // }


    .form-container
    {
        //background: red;
        form{
            //background: yellow;
            height:25%;

            .form_container-input
            {
                //background: red;
                width:90%;
            }
        }
    }
}



@media only screen and (width > 700px)
{
    .header_mobiles
    {
        display: none;
    }
    nav
    {
        display: none;
        #header_mobiles_container-list
        {
            display: none;
        }
    }


}

@media only screen and (width <= 700px)
{
    .allsong_header
    {
        display: none;
    }

    .header_mobiles
    {
        background: #262626;
        width:100%;
        height: 5rem;
        position: fixed;
        top: 0;
       

        .bx-chevron-left
        {
            color:#eee;
            font-size: 3rem;
            position: fixed;
            top:.8rem;
        }
    }

    //header mobile
    nav{

        background: #262626;
        position:fixed;
        height:100vh;
        left:-625px;
        transition:all .8s;
        width:100%;
    
        .hamburger-menu{
            width:35px;
            height:30px;
            position:fixed;
            top:1.5rem;
            right:1rem;
            cursor:pointer;
            display:flex;
            flex-direction:column;
            justify-content:space-around;
            
        }

        #header_mobiles_container-list
        {
            //background: green;
            width:100%;
            height:65%;
            display: flex;
            align-items: center;
            justify-content: center;
           
            
            //width

            .header_mobiles_container_list-container
            {
                background: #eee;
                height:58%;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 1rem;
                .header_mobiles_container_list-input
                {
                    //background: blue;
                    height: 30%;
                    padding: .5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    input{
                        background: #fff;
                        border:none;
                        width:100%;
                        border-radius: 1rem;
                        padding-left: 1rem;
                        line-height: 2;
                    }
                    input:focus{
                        outline: none;
                    }

                }

                .header_mobiles_container_list-buttons
                {
                    //background: purple;
                    height: 30%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .bx-search-alt, .bx-envelope, .bx-refresh
                    {
                        background: rgb(84, 84, 239);
                        color: #fff;
                        font-size: 2.3rem;
                        padding: .4rem;
                        border-radius: 5rem;
                    }
                    // button{
                    //     //background: yellow;
                    //     border: none;
                    //     font-size: 1.7rem;
                    //     border-radius: 5rem;
                    //     color: #eee;
                    //     width:2.5rem;
                    //     height:3rem;
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                        

                    // }
                }

            }

            
        }
        
    }
    
    .change{
        left:0px;
    }
    .line{
        width:90%;
        height:3px;
        background:#eee;
        transition:all .8s;
    }
    .change .line-1{
        transform:rotateZ(-405deg) translate(-8px, 6px);
    }
    .change .line-2{
        opacity:0;
    }
    .change .line-3{
        transform:rotateZ(405deg) translate(-8px, -6px);
    }










    .form-container
    {
        form{
            height:40%;
            width:80%;

            .form_container-input
            {
                width:90%;
            }
        }
    }



    .bx-folder-plus
    {
        right: 1rem;
        font-size: 2rem;
        bottom: 2rem;
        display: block;
    }
    
    .bxs-send
    {
        right: 1rem;
        font-size: 2rem;
        bottom:7rem;
        display: block;
    }
    
    .bxs-envelope
    {
        right: 1rem;
        font-size: 2rem;
        display: block;
        bottom: 12rem;
    }



    .all_selected 
    {
        .all_selected_containers
        {
            width: 100%;
        }
    }
}