
@media only screen and (width > 700px)
{
   
}
@media only screen and (width <= 1024px)
{
    
    .products_container
    {
        background: red;
        .products
        {
            background: yellow;

            .products_card
            {
                width:30%;
                height:30%;
            }
        }
    }

    
    .header
    {
        

        .header-navbar
        {
            width: 70%;
        }
    }
}



@media only screen and (width <= 500px)
{
    .header 
    {
       // background: yellow;

        .header-navbar
        {
            display: none;
        }
    }

   

    #home_container-h2{
        font-size: 1rem;
    }
        
        .products
        {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .products_card 
            {
                width:17rem;
                height:13rem;
            }
        }
}